<%= turbo_frame_tag task do %>
  <div class="task">
    <%= link_to task.name,
                task_path(task),
                data: { turbo_frame: "_top" } %>

    <div class="task__actions">
      <% unless task.completed? %>
        <%= button_to "Completed", task_path(task.id),
                      params: { task: { id: task.id, status: "completed", user_id: current_user.id } },
                      method: :put,
                      class: "btn btn--light" %>
      <% end %>

      <%= link_to "Edit",
                  edit_task_path(task),
                  class: "btn btn--light" %>

      <%= button_to "Delete",
                    task_path(task),
                    method: :delete,
                    class: "btn btn--light" %>
    </div>
  </div>
<% end %>
